html{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: nyt-cheltenham;
    width: 100%;
    color: #333;
}
@font-face {
    font-family: "nyt-cheltenham";
    src: url("cheltenhamitctee_bold-webfont.woff") format("woff");
    }
header{
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav{
    height: 50px;
    width: 100%;
    align-items: center;
  justify-content: center;
 
}
.left-nav ul{
list-style-type:none;
}
.left-nav ul li {
    float: left;
    padding-right: 24px;
}
.left-nav li a{
    text-decoration: none;
    color: black;
}
.righ-nav {
    float: right;
    display: table-header-group;
    margin-right: 40px;
}
.logo {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin-top: -9px;

}
button.subscribe {
    background-color: #6288A5;
    color: #fff;
    padding: 11px 20px 10px 18px;
    border-radius: 4px;
    border: none;
    font-size: 13px;
}button.login {
    background-color: #6288A5;
    color: #fff;
    padding: 11px 20px 10px 18px;
    border-radius: 4px;
    border: none;
    font-size: 13px;
}
.banner {
    background-color: #F7F7F7;
    height: 280px;
    width: 100%;
    margin-top: 60px;
}
.banner img {
    justify-content: center;
    width: 80%;
    height: 250px;
    display: block;
  margin: 0 auto;
    padding-top: 20px;
}
.bd-heading h1{
font-family: nyt-cheltenham;
font-weight: 700;
font-style: italic;
color:#121212;
font-size: 38px;
text-align: center;

}
.bd-heading h1 span{
    display: inherit;
margin: 0 auto;
}
.cn-img img{
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 675px;
    overflow: hidden;
}
.bd-para span {
    display: inherit;
    margin-left: 12rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    color: #666;
    font-size: 15px;
    line-height: 1.125rem;
}
.bd-para{
    margin-top: 10px;
}
.author-section{
    text-align: center;
    
}
.author-section span a{
    color: #666;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}
ul{
    list-style-type:none;
}
.social ul li {
    float: left;
    padding: 6px;
}
.social li i{
margin: 0 auto;
text-align: center;
}
.social ul{
    display: inline-table;
}
.author-section {
    text-align: center;
    margin: 2rem auto;
    padding: 0 24%;
}
​
.dec {
    display: flex;
    justify-content: space-between;
}
​
.icons a  i {
    padding-left: 5px;
    font-size: 21px;
}
.date {
    float: left;
}
.icons  {
    float: right;
}
.icons a i{
    color: black;
    font-size: 18px;
    padding: 8px 8px;
    background-color: #eee;
    border-radius: 100%;
    margin: 0px 5px;
}
.articleSection{
    width: 100%;
    display: block;
}
.articleBody{
    width: 1200px;
    display: flex;
}
.article-aside{
    width: 210px;

}
.sidebar-article{
    margin: 0 auto;
}
.body-paragraph {
    width: 600px;
    margin-left: 30rem;
    margin-top: 4rem;
}
.body-paragraph p {
    font-size: 1.2rem;
    line-height: 1.87rem;
}
.sidebar-article {
    margin-left: 2rem;
    margin-top: 2rem;
}
.article-aside {
    width: 210px;
    margin-top: 3rem;
    margin-left: auto;
    display: flex;
    align-items: center;
}
button.btn-signup {
    color:white;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    text-transform: uppercase;
    width: 100%;
    height: 35px;
    background: rgb(98, 136, 165);
    border-style: solid;
    border-color: rgb(98, 136, 165);
    border-radius: 4px;
    padding: 10px;
    margin: 0px;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login {
    text-align: center;
    max-width: 450px;
}
.login h3{
    font-size: 28px;
    line-height: 38px;
}
.login p{
    font-size: 16px;
    line-height: 22px;
    margin-top: 22px;
    text-align: center;
}
.btn-log button{
    display: inherit;
}
button.btn-account {
    display: block;
    align-items: center;
}
button.btn-log {
    display: block;
    align-items: center;
    width: 100%;
    margin-left: 3px;
    margin-bottom: 10px;
    height: 45px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}
.login a{
    text-decoration: none;
}
.btn-account{
    display: block;
    align-items: center;
    width: 100%;
    margin-left: 3px;
    margin-bottom: 10px;
    height: 45px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
}
.inner-colom{
margin-left: 16px;
margin-bottom: 33px;
}
.inner-colom img{
    width: 350px;
}
.inner-colom span a{
    display: inline-flex;
    float: right;
    color: black;

}
.inner-colom a{
    text-decoration: none;
}
.inner-colom a h2{
   
    color: #333;
    font-size: 1.125rem;
    line-height: 22px;
}
.right-section{
    width: 35%;
}
section.post-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-left: 3%;
    margin-right: 3%;
    width: 65%;

}
main{
    width: 100%;
}